body { 
	padding-top: 50px; 
}

.container-fluid {
	padding: 0px;
}

/*.navbar-default {
	background-color: #BE4D69;
	border-color: #fff;
}
*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 10px;
}

#home {
	background: url(ramenburger.jpg) 50% 0 repeat fixed; 
	min-height: 800px;
	text-align: center;
	padding: 0px;
}

#breakfast {
	background: url(1.png) 50% 0 repeat fixed; 
	min-height: 800px;
	padding-bottom: 10px;
}

#burger {
	background: url(2.png) 50% 0 repeat fixed; 
	min-height: 1000px;
	padding: 0px;
}

#ramen {
	background: url(3.png) 50% 0 repeat fixed; 
	min-height: 1000px;
	padding: 0px;
}

#burrito {
	background: url(4.png) 50% 0 repeat fixed; 
	min-height: 1000px;
	padding: 0px;
}

#drinks {
	background: url(5.png) 50% 0 repeat fixed; 
	min-height: 1000px;
	padding: 0px;
}

footer {
	background-color: #8B4317;
}

#home .header-title {
	position: absolute;
	top: 270px;
	left: 190px;
	right: 190px;
	color: #fff;
	border-radius: 25px;
    background: rgba(76, 76, 76, 0.3);
}

.header-title h1 {
	font-size: 70px;
	font-family: "Carter One", sans-serif;
	opacity: 1;
}


.header-address h4 {
	font-size: 35px;
	font-family: "Overlock:900", sans-serif;
	color: #fff;
	margin: 20px;
	/*margin: 0px;*/
/*	padding-top: 375px;*/
}

h3 {
	font-family: "Exo", sans-serif;
	font-size: 36px;
	margin: 0px;
	padding: 50px;
}